/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06 26, 17, 11:15:47 AM
    Author     : jrdumayag
*/

body{
    font-family: Calibri;
    margin: auto;
}

.content {
    margin-top: 20px;
}

.data-table {
    font-size: .9em;
    border:1px solid black;
    border-collapse: collapse;
}

.data-table .data-main td {
    border: 1px solid black;
    padding: 0px 15px 0px 15px;
    line-height: 20px;
    font-size: .90em;
}

.data-table-header th {
    margin: auto;
    padding: 0px 15px 0px 15px;
    border: 1px solid black;
    line-height: 25px;
}

.button-right-align {
    text-align: right;
}